@color-backgroundContainer: rgba(255, 255, 255, 1.0);
@color-backgroundDarkScreen: rgba(0, 0, 0, 0.4);
@color-shadowBdContainer: @color-backgroundDarkScreen;
@color-text: rgba(0, 0, 0, 1.0);
@height-bdItem: 45px;

.bdDarkScreen {
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @color-backgroundDarkScreen;
	cursor: pointer;
}

// .bdDarkScreen.ng-enter,
// .bdDarkScreen.ng-leave {
// 	transition: 1s linear all;
// }

// .bdDarkScreen.ng-enter {
// 	opacity: 0;
// }

// .bdDarkScreen.ng-enter.ng-enter-active {
// 	opacity: 1;
// }

// .bdDarkScreen.ng-leave {
// 	opacity: 1;
// }

// .bdDarkScreen.ng-leave.ng-leave-active {
// 	opacity: 0;
// }

.bdContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: @color-backgroundContainer;
	z-index: 1002;
	box-shadow: 0px -6px 16px 0px @color-shadowBdContainer;
}

.bdContainer-scroll {
	max-height: @height-bdItem * 5.5; // additional .5 indicates scroll ability
	overflow-y: scroll;
}

.bdItem {
	width: 100%;
	height: @height-bdItem;
	line-height: @height-bdItem;
	color: @color-text;
	font-size: 16px;
	padding-left: 16px;
	cursor: pointer;
}

.bdItem--cancel {
	border-top: 1px solid rgba(240, 240, 240, 1.0);
}

.bdItem-text.is-padded {
	padding-left: 10px;
}