<!-- note: this file is for editing purposes only. it doesn't actually get used (copied to bottomDrawerDirective.js) -->

<!-- transparent dark screen -->
<div class="bdDarkScreen" ng-if="bottomDrawerService.isOpen" ng-click="bottomDrawerService.close()"></div>

<!-- drawer -->
<div class="bdContainer" ng-if="bottomDrawerService.isOpen" ng-cloak>
	<div class="bdContainer-scroll">
		<button class="bdItem" ng-repeat="option in bottomDrawerService.options" ng-click="callNextFunction(option)">

			<!-- for font icons -->
			<i ng-class="option.icon"></i>
			
			<span class="bdItem-text" ng-class="{\'is-padded\': option.icon}">{{ ::option.text }}</span>
		</button>
	</div>
	
	<button class="bdItem bdItem--cancel" ng-click="bottomDrawerService.close()" ng-if="!bottomDrawerService.hideCancel">
		<span class="bdItem-text">Cancel</span>
	</button>
</div>
